# Remove this rule for your local project
composer.lock
.env

# Standard WordPress files to exclude from git
vendor
config/wp-config.local.php
web/wordpress
web/content/plugins/*
!web/content/plugins/.gitkeep
web/content/mu-plugins/*/*
web/content/themes/*
!web/content/themes/.gitkeep
web/content/upgrade
web/content/uploads/*
!web/content/uploads/.gitkeep

# Include any custom plugins, mu-plugins & themes you want to commit to git here, prefixed by !
# E.g.
# !web/content/plugins/my-plugin-name
